@model BookStoreApp.Models.Genre;
@{
    
}
<div class="container" style="width:40%;">
    <h1>Add Genre</h1>
    <form asp-action="Add">
        <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name"  class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        @if(@TempData["msg"]!=null){
            @TempData["msg"]
        }
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary"><i class="bi bi-check"></i> Save</button>
        <a href="/Genre/GetAll" class="btn btn-primary">All Genre</a>
    </div>
    </form>
</div>