@model BookStoreApp.Models.Publisher;
@{
    
}
<div class="container" style="width:40%;">
    <h1>Add Publisher</h1>
    <form asp-action="Add">
        <div class="form-group">
        <label asp-for="PublisherName">Name</label>
        <input asp-for="PublisherName"  class="form-control" />
        <span asp-validation-for="PublisherName" class="text-danger"></span>
    </div>
    <div>
        @if(@TempData["msg"]!=null){
            @TempData["msg"]
        }
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary"><i class="bi bi-check"></i> Save</button>
        <a href="/Publisher/GetAll" class="btn btn-primary">All Publisher</a>
    </div>
    </form>
</div>